<div class="container mt-3">
    <div class="dataTable">
        <div class="serchData">
            <h5><b>Search Data</b></h5>
            <input class="form-control" type="search" placeholder="Search from Data List" [(ngModel)]="searchText"
                (input)="performFilter(searchText)">
        </div>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" (click)="sortTable('id')">
                        ID
                        <i class="material-icons">
                            {{ getSortIcon('id') }}
                        </i>
                    </th>
                    <th scope="col" (click)="sortTable('title')">
                        Title
                        <i class="material-icons">
                            {{ getSortIcon('title') }}
                        </i>
                    </th>
                    <th scope="col">Completed or Not</th>
                </tr>
            </thead>
            <tbody cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                <tr *ngFor="let item of collection | paginate: { itemsPerPage: itemsPerPage, currentPage: p }" cdkDrag>
                    <td>{{item.id}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.completed}}</td>
                </tr>
            </tbody>
        </table>

        <div class="paginator">
            <div class="row">
                <div class="col-sm-10">
                    <pagination-controls (pageChange)="p = $event" class="pagination"></pagination-controls>
                </div>
                <div class="col-sm-2">
                    <select name="" id="" class="form-control values" (change)="onSelectChange($event.target.value)">
                        <option value="10">10</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>