<div class="container mt-5">
    <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
        <h3 class="head m-auto">Fill the details for queries</h3>
        <div class="mb-3">
            <label for="name" class="form-label">Customer Name</label>
            <input type="text" class="form-control" id="name" formControlName="customerName" placeholder="Enter Name">
        </div>
        <div class="address">
            <div class="row">
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="flatNo" formControlName="flatNo" placeholder="Flat No.">
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="address1" formControlName="addressLine1"
                        placeholder="addressLine1">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="address2" formControlName="addressLine2"
                        placeholder="addressLine2">
                </div>
                <div class="col-sm-6">
                    <!-- <input type="text" class="form-control" id="city" formControlName="city" placeholder='city'> -->
                    <select class="form-control" formControlName="city">
                        <option value="" disabled selected>Select an option</option>
                        <option *ngFor="let cities of citiesArray" [value]="cities">{{ cities }}</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <!-- <input type="text" class="form-control" id="country" formControlName="country" placeholder='country'> -->
                    <select class="form-control" formControlName="country" (change)="onOptionChange($event)">
                        <option value="" disabled selected>Select an option</option>
                        <option *ngFor="let country of countriesArray" [value]="country">{{ country }}</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="state" formControlName="pin" placeholder="PIN Code">
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="primaryPhone" class="form-label">Primary Phone</label>
            <input type="number" class="form-control" id="primaryPhone" formControlName="primaryPhone"
                placeholder="Enter Primary Phone">
            <div
                *ngIf="customerForm.get('primaryPhone').invalid && (customerForm.get('primaryPhone').dirty || customerForm.get('primaryPhone').touched)">
                <div *ngIf="customerForm.get('primaryPhone').errors.required" class="error-message">Primary Phone is
                    required.
                </div>
                <div *ngIf="customerForm.get('primaryPhone').errors.pattern" class="error-message">Primary Phone is not
                    valid.
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="secondaryPhone" class="form-label">Secondary Phone</label>
            <input type="number" class="form-control" id="secondaryPhone" formControlName="secondaryPhone"
                placeholder="Enter Secondary Phone">
        </div>
        <div class="mb-3">
            <label for="aadhaar" class="form-label">Aadhaar Number</label>
            <input type="number" class="form-control" id="aadhaaar" formControlName="aadhaaar"
                placeholder="Enter Aadhaar Number">
            <div
                *ngIf="customerForm.get('aadhaaar').invalid && (customerForm.get('aadhaaar').dirty || customerForm.get('aadhaaar').touched)">
                <div *ngIf="customerForm.get('aadhaaar').errors.required" class="error-message">Aadhaaar is required.
                </div>
                <div *ngIf="customerForm.get('aadhaaar').errors.pattern" class="error-message">Aadhaaar is not valid.
                </div>
                <div *ngIf="customerForm.get('aadhaaar').errors.maxLength && customerForm.get('aadhaaar').errors.minLength"
                    class="error-message">Aadhaaar is not valid.
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="panCard" class="form-label">PAN Number</label>
            <input type="text" class="form-control" id="pancard" formControlName="pancard"
                placeholder="Enter PAN Number">
            <div
                *ngIf="customerForm.get('pancard').invalid && (customerForm.get('pancard').dirty || customerForm.get('pancard').touched)">
                <div *ngIf="customerForm.get('pancard').errors.required" class="error-message">PAN is required.</div>
                <div *ngIf="customerForm.get('pancard').errors.pattern" class="error-message">PAN is not valid.</div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>